/*************************************************************
 * layout
 *************************************************************/
* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 45px;
}

header h1 {
  color: #333;
}

@media screen and (min-width:769px) {
  .container, .container-fluid {
    width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .container, .container-fluid {
    width: 90%;
    margin: 0 auto;
  }
  header h1 {
    font-size: 20px;
  }
}

footer {
  background: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.operator {
  margin: 50px auto;
}

.operator > .moves {
  margin-top: 10px;
}

.operator > .moves > .move {
  margin: 1px;
}

/*************************************************************
 * cells table
 *************************************************************/
table {
  border-collapse: collapse;
  margin: 0 auto;
}
td.cell {
  background-color: #faffff;
  border: 1px #ccc solid;
  text-align: center;
  background: #090;
  line-height: 0;
}

@media screen and (min-width:769px) {
  td.cell > .disc {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    margin: 0.75em;
  }
}
@media screen and (max-width:769px) {
  td.cell > .disc {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.75em;
    margin: 0.5em;
  }
}

td.cell > .disc.white {
  background: #fff;
}
td.cell > .disc.black {
  background: #000;
}
td.cell > .disc.reversible {
  background-color: rgba(200, 255, 255, 0.9);
}
td.cell:hover, td.cell.movable.hover {
  background-color: rgba(100, 150, 100, 0.9);
  cursor: pointer;
}
td.cell.movable:hover, td.cell.movable.hover {
  background-color: rgba(200, 250, 200, 0.9);
}
td.cell_index_y {
  padding-right: 3px;
  text-align: center;
}
td.cell_index_x {
  padding-bottom: 3px;
  text-align: center;
}
