@media screen and (min-width:769px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}

header, footer {
  margin-bottom: 50px;
}

.operator {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}
td.cell {
  background-color: #faffff;
  border: 1px #ccc solid;
  text-align: center;
  background: #090;
  line-height: 0;
}

@media screen and (min-width:769px) {
  td.cell > .disc {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    margin: 0.75em;
  }
}
@media screen and (max-width:769px) {
  td.cell > .disc {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.75em;
    margin: 0.5em;
  }
}

td.cell > .disc.white {
  background: #fff;
}
td.cell > .disc.black {
  background: #000;
}
td.cell > .disc.reversible {
  background-color: rgba(200, 255, 255, 0.9);
}
td.cell:hover, td.cell.movable.hover {
  background-color: rgba(100, 150, 100, 0.9);
  cursor: pointer;
}
td.cell.movable:hover, td.cell.movable.hover {
  background-color: rgba(200, 250, 200, 0.9);
}
td.cell_index_y {
  padding-right: 3px;
  text-align: center;
}
td.cell_index_x {
  padding-bottom: 3px;
  text-align: center;
}
