body {
  width: 80%;
  margin: 0 auto;
}
.center {
  text-align:center;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
tbody td {
  background-color: #faffff;
}
td.cell {
  border: 1px #ccc solid;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #090;
  line-height: 0;
}
td.cell > .disc {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 0.25em;
}
td.cell > .disc.white {
  background: #fff;
}
td.cell > .disc.black {
  background: #000;
}
td.cell:hover {
  background-color: rgba(200, 255, 255, 0.9);
  cursor: pointer;
}

header {
  margin-bottom: 50px;
}
footer {
  margin-top: 50px;
}
